[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
dipy = "*"
pillow = "*"
nibabel = "*"
hjson = "*"
pyyaml = "*"
gts = {path = ".", editable = true}
pynrrd = {git = "https://github.com/sinkpoint/pynrrd.git", ref = "master"}
future = "*"
ordered_set = "*"
nipype = "*"
scikit-learn = "*"
"scikits.bootstrap" = "*"

[requires]
python_version = "2.7"
